<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <h2 style="margin-top: 20px;">Add a new category</h2>
      <%= simple_form_for(@list) do |f|%>
        <%= f.input :name  %>
        <%= f.input :url %>
        <%= f.submit "Add category", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
